.content {
    height: 960px;
    color: #777777;
    background-color: #ffffff;
    border-top: 5px #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.aboutMe {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

header {
    background-color: #ffffff;
    border-bottom: 5px #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

nav {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.navPills {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    color: #777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.logo {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    padding: 20px;
    color: #ffffff;
    font-size: 30px;
}

footer {
    background-color: #666666;
    color: #cccccc;
    justify-content: center;
    text-align: center;
    padding: 25px;
}